@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import "tailwindcss";
@import "@nuxt/ui";

@theme {
    --color-primary: #0d542b;
    --color-primary-hover: #0d542b;

    --color-accent: #0d542b;
    --color-accent-hover: #0d542b;

    --color-background: #faf7f2;
    --color-surface: #ecfdf5;
    --color-highlight: #d31516;

    --color-border: #e5e7eb;

    --color-success: #16a34a;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
    --color-info: #3b82f6;

    --color-title: #0f172a;
    --color-body: #334155;
    --color-muted: #64748b;

    --color-black: #000000;
    --color-dark: #1a1a1a;
    --color-white: #ffffff;

    --font-heading: "Bebas Neue", sans-serif;
    --font-sans: "Barlow", sans-serif;
    --font-serif: "Quattrocento", serif;
    --font-script: "Satisfy", cursive;
}